@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair:ital,opsz,wght@0,5..1200,600;1,5..1200,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* FONTES */
  --fonte-prata: 'Prata', serif;
  --fonte-playfair: 'Playfair', serif;
  --fonte-montserrat: 'Montserrat', sans-serif;

  /* TAMANHOS DAS FONTES DESKTOP */
  --titulo-grande-desktop: 64px;
  --titulo-sessao-desktop: 24px;
  --texto-desktop: 16px;

  /* TAMANHOS DAS FONTES MOBILE */
  --titulo-grande-mobile: 36px;
  --titulo-sessao-mobile: 20px;
  --texto-mobile: 16px;

  /* CORES */
  --cor-destaque: #c9f40e;
  --fundo-primario: #121212;
  --fundo-secundario: #2e2e2e;
  --fundo-terciario: #1c1c1c;
  --cor-branca: #ffffff;
  --fundo-inputs: #8d8d8d;
}

body {
  background-color: var(--fundo-primario);
}

a {
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}

/* ======================================================================================================= */

/* EFEITO DE HOVER GERAL */

.link-underline {
  position: relative;
  text-decoration: none;
  color: #1d0f28;
}

.link-underline::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 0;
  height: 2px;
  background-color: currentColor;
  transition: width 0.3s ease;
}

.link-underline:hover::after {
  width: 100%;
}
